BASE_URL=coloque-aqui-a-url-do-seu-servidor-com-a-porta
ADMIN_EMAIL=coloque-aqui-o-seu-usuario-admin
ADMIN_SENHA=coloque-aqui-a-sua-senha-admin
ALUNO_EMAIL=coloque-aqui-o-email-do-aluno
ALUNO_SENHA=coloque-aqui-a-senha-do-aluno